@media screen and (max-width: 400px) {
    body {background: transparent;}
}


body {
    margin: 0px;
    counter-reset: ph_links;
    background-image: url(../images/bg3.jpg), url(../images/bg2.jpg), url(../images/bg1.jpg), url(../images/main_bg.jpg);
    background-size: 60pt, 60pt, 60pt, cover;
    background-attachment: fixed;
    background-position: 10pt 144pt, 10pt 76pt, 10pt 8pt, center;
    background-repeat: no-repeat;
}
.gallery-item img {width: 100%;}
body.noscroll {overflow: hidden;}
a[target=gallery] {font-size: 16pt;}
a[target=gallery]::before {
    counter-increment: ph_links;
    content: counter(ph_links) ". ";
}
header h1 {
    font: bold 42pt Verdana, sans-serif;
    text-align: right;
    color: white;
    margin-top: 8pt;
    margin-right: 8pt;
    margin-left: 80pt;
    padding-right: 12pt;
    background-image: radial-gradient(closest-side at 25pt 50%, black, white, black, white, black);
    transform: skewX(5deg);
}
main p {font: 12pt Arial, sans-serif;}
main {
    margin-left: 80pt;
    padding-left: 20pt;
    padding-right: 10pt;
    border-left-width: 20pt;
    border-left-style: solid;
    border-left-color: grey;
}
div.tbl {display: table;}
div.tbl > div {display:table-row;}
div.tbl > div > * {
    display: table-cell;
    vertical-align: middle;
}
div.tbl a {
    display: block;
    margin: 10px 10px 10px 0px;
}
aside {
    float: right;
    margin: 20px 0px 20px 20px;
    padding: 5px;
    color: white;
    background-color: black;
    text-align: center;
}
nav {
    margin: 10pt 10pt 10pt 80pt;
    padding: 5px;
    border: 4px solid grey;
    font: 16pt Arial, sans-serif;
    display: flex;
    justify-content: space-between;
}
nav a {display: block;}
nav a:link, nav a:visited {
    color: blue;
    background-color: white;
    text-decoration: none;
    transition-duration: 1s;
}
nav a:active, nav a:hover {
    color: white;
    background-color: blue;
    text-decoration: none;
    transform: scale(1.2,1.2) translateY(4px);
    transition-duration: 0.5s;
}
nav div {
    color: white;
    background-color: grey;
}
div#discography {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
div#discography > div {
    background-color: white;
    padding: 5px;
    margin: 5px;
    text-align: center;
    width: 120px;
    transform: rotate(5deg);
     transition-duration: 0.2s;
}
div#discography > div:hover {
    background-color: white;
    padding: 5px;
    margin: 5px;
    text-align: center;
    width: 120px;
    transform: rotate(-5deg) translateY(-10px);
    transition: 0.1s linear;
}

footer {
    margin-left: 120pt;
    margin-right: 10pt;
}
footer p {
    font: italic 12pt Arial, sans-serif;
    color: white;
    background-color: grey;
    text-align: right;
    margin-bottom: 0px;
}
